.footer{
    background: #1a1919 !important;
    min-width: 100vw;
    min-height: 10vw;
    box-shadow: 0px 0px 50px rgba(192, 114, 33, 0.5);
    margin-top: 2.5vw;
    display: flex;
    justify-content: center;
    /*position: fixed;*/
    /*bottom: 0;*/
}


@media only screen and (max-width: 768px) {

    .footer{
        min-height: 40vw;
        margin-top: 35vw;
    }


}